@charset "UTF-8";

@use 'partial/header';
@use 'partial/mainvisual';
@use 'partial/about';
@use 'partial/events';
@use 'partial/news';
@use 'partial/column';
@use 'partial/qa';
@use 'partial/request';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: 'Zen Maru Gothic', serif;

    div {
        overflow: hidden;
    }
}

li {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

.sec-title {
    position: relative;
    display: inline-block;
    padding: 0 55px;
    margin-bottom: 60px;
}

.sec-title::before,
.sec-title::after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 4px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.sec-title::before {
    left: 0;
}

.sec-title::after {
    right: 0;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 4%;
    margin-bottom: 120px;
}

.btn {
    background-color: #519A8F;
    color: #fff;
    padding: 10px;
    display: inline-block;
    width: 400px;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 30px;
    margin: 20px 0;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.btn:hover {
    opacity: 0.7;
}

.btn:active {
    transform: translateY(5px);
    box-shadow: none;
}

span {
    display: inline-block;
}

/* -----------------------------------
PC用
----------------------------------- */

/* footer */
footer {
    p {
        text-align: center;
        font-size: 0.725rem;
        padding: 10px 0;
    }
}




.event-list-page {
    margin-top: 60px;
    text-align: center;

    .container {
        max-width: 600px;
        .filter {
            display: flex;
            justify-content: center;

            .filter-item {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                margin-right: 40px;
                position: relative;
                height: 2rem;

                p {
                    margin-right: 10px;
                    width: 150px;
                    text-align: start;
                }

                select {
                    border-radius: 5px;
                    width: 300px;
                    height: 2rem;
                    padding: 5px;
                    background-color: #e6edf3;
                    color: #333;
                    cursor: pointer;
                }
                
            }
            .filter-item:before {
                content: '';
                position: absolute;
                pointer-events: none;
                display: inline-block;
                right: 0;
                width: 2rem;
                height: 2rem;
                border-radius: 0 5px 5px 0;
                background-color: #519A8F;
            }

            .filter-item:after {
                content: '';
                position: absolute;
                pointer-events: none;
                top: 50%;
                right: 1rem;
                transform: translate(50%, -50%) rotate(45deg);
                width: 6px;
                height: 6px;
                border-bottom: 3px solid #fff;
                border-right: 3px solid #fff;
            }
        }

        .event-list {
            ul {
                width: 100%;
                .event-link {
                    width: 100%;
                    border: 1px solid #519A8F;
                    border-radius: 10px;
                    padding: 10px;
                    margin-bottom: 10px;
                    a {
                        display: inline-block;
                        width: 100%;
                        vertical-align: bottom;
        
                        .event-item {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
        
                            img {
                                width: 100px;
                                height: 100px;
                                object-fit: cover;
                                object-position: center center;
                                vertical-align: bottom;
                            }
        
                            .event-text {
                                padding: 10px;
                                flex: 1;
                                p {
                                    color: #333;
                                    text-align: start;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.d-none {
    display: none;
}







.event-header {
    background-color: #fff;
    transition: all 0.5s ease;
    width: 100%;

    a {
        color: #333;
        .logo-w {
            display: none;
        }
        
        .logo-b {
            display: inline-block;
        }
    }

    .sns-b {
        background-color: rgba($color: #333, $alpha: 0.3);
    }
}

.open {
    .event-header {
        background-color: transparent;
        a {
            color: #fff;
            .logo-w {
                display: inline-block;
            }
        
            .logo-b {
                display: none;
            }
        }
    }
}

.event-page {
    margin-top: 60px;
    text-align: center;

    img {
        margin-bottom: 80px;
        max-width: 800px;
    }

    .container {
        text-align: center;
        max-width: 800px;

        .tags {
            width: 90%;
            ul {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 10px;

                li {
                    a {
                        padding: 2px 7px;
                        border: 1px solid #333;
                        border-radius: 5px;
                        color: #333;
                        font-size: 0.75rem;
                        line-height: 0;
                    }
                }
            }
        }

        dl {
            width: 80%;
            margin: 0 auto;
            text-align: start;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 60px;
            border-top: 1px solid #519A8F;

            dt {
                width: 30%;
                padding: 10px;
                border-bottom: 1px solid #519A8F;
            }
            dd {
                width: 70%;
                padding: 10px;
                border-bottom: 1px solid #519A8F;

                a {
                    color: #333;
                    display: inline-block;
                    margin-right: 10px;
                    
                    img {
                        height: 15px;
                        width: auto;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

h3 {
    margin-bottom: 20px;
    padding-left: 25px;
    position: relative;
    font-size: 1.25rem;
}

h3:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    background-color: #519A8F;
    border-radius: 50%;
}

.column-text {
    text-align: start;
    p {
        padding-bottom: 10px;
    }

    .must {
        margin-top: 30px;
    }
}







/* -----------------------------------
SP用
----------------------------------- */

@media screen and (max-width: 800px) {
    .btn {
        width: 100%;
    }

    .header-top, .event-header {
        h1 {
            
            opacity: 0;
            visibility: hidden;
            top: -100px;
            left: 50%;
            transform: translateX(-50%);
            // display: none;
        }

        nav {
            transform: translate(-50%, -100%);
            opacity: 0;
            visibility: hidden;

            ul {
                flex-direction: column;

                li {
                    text-align: center;
                    font-size: 1rem;
                }
            }
        }
        height: 60px;

        .sp-menu {
            display: flex;
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            height: 60px;
            color: #fff;
            transition: all 0.5s ease;
            cursor: pointer;
            z-index: 20;

            .nav-bar {
                width: 40px;
                height: 60px;
                position: relative;
                display: block;
                transition: all 0.5s ease;
    
                span {
                    height: 2px;
                    width: 20px;
                    background-color: #fff;
                    position: absolute;
                    transition: all 0.5s ease;
                }
    
                span:nth-of-type(1) {
                    top: 36%;
                }
                span:nth-of-type(2) {
                    top: 50%;
                }
                span:nth-of-type(3) {
                    top: 64%;
                }
            }
        }
    }

    .black, .event-header {
        .sp-menu {
            z-index: 20;
            color: #333;

            .nav-bar {
                span {
                    background-color: #333;
                }
            }
        }
    }

    .open {
        #mask {
            background-color: #333;
            opacity: 0.7;
            visibility: visible;
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
        }

        .header-top {
            height: 100vh;
            align-items: flex-start;
            
            .sp-menu {
                color: #fff;
    
                .nav-bar {
                    span {
                        background-color: #fff;
                    }
                }
            }

            h1 {
                opacity: 1;
                visibility: visible;
                top: 70px;
                z-index: 25;

            }
            
            nav {
                opacity: 1;
                visibility: visible;
                transform: translate(-50%, 0);
                z-index: 25;
                top: 140px;
            }
        }

        .black {
            nav {
                ul {
                    li {
                        color: #fff;
                    }
                }
            }
        }
    }

    #mainvisual {
        .main-title {
            text-align: center;

            .title {
                flex-direction: column;
                justify-content: center;
                padding-top: 150px;
    
                img {
                    margin-right: 0;
                    margin-bottom: 30px;
                    max-width: 350px;
                    padding: 0 20px;
                }

                .title-text {
                    margin-bottom: 60px;
                    font-size: 1rem;
                }
            }

            a {
                justify-content: center;
                width: 100%;
            }
        }

        .mv-news {
            display: none;
        }
    }

    #about {
        .container {
            .about-text {
                flex-direction: column;
                align-items: center;
    
                img {
                    margin-right: 0;
                    margin-bottom: 40px;
                }

                .text {
                    margin-bottom: 40px;
                }
            }
        }
    }

    #events {
        ul {
            li {
                p {
                    font-size: 1rem;
                }
            }
        }
    }

    #news {
        dl {
            flex-direction: column;
            width: 100%;

            dt {
                border-bottom: none;
                padding-bottom: 5px;
                width: 100%;
            }

            dd {
                padding-top: 0;
                width: 100%;
            }
        }
    }

    #column {
        .slide-items {
            .slide-outer {
                .slide-text {
                    font-size: 1.5rem;
                }
            }
        }

    }

    #request {
        dl {
            flex-direction: column;

            dt {
                width: 100%;
                margin-bottom: 5px;
            }

            dd {
                width: 100%;
            }
        }
    }





    .event-page {
        .container {
            .tags {
                width: 100%;
            }
    
            dl {
                width: 100%;
                flex-direction: column;

                dt {
                    border-bottom: none;
                    padding-bottom: 5px;
                    width: 100%;
                }

                dd {
                    width: 100%;
                    padding-top: 0;
                    padding-left: 40px;
                }
            }
        }
    }

    .filter {
        flex-direction: column;

        .filter-item {
            width: 100%;

            select {
                flex: 1;
            }
        }
    }
}